<a href="https://colab.research.google.com/github/Wisawasi/100-Days-Of-ML-Code/blob/master/Data_Wrangling_By_INVESTIC_Part_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Syntax

## Creating DataFrames

### Specify values for each column

In [ ]:
df = pd.DataFrame(
    {"a" : [4, 5, 6],
     "b" : [7, 8 ,9],
     "c" : [10, 11, 12]},
index = [1, 2, 3])

สร้าง DataFrame เป็นตารางของตัวเลขออกมาก่อน จะแบ่งเป็นแถวและหลัก ซึ่งในชุดนี้จะมี 
column เป็น a,b,c
rows เป็น 1,2,3

### Specify values for each row

In [ ]:
df = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index = [1, 2, 3],
    columns = ['a', 'b', 'c']
)

ชุดนี้จะได้ output เหมือนกับ DataFrame ชุดแรก แต่แค่มีการกำหนดตัว Column ด้านล่างแทน

### Create DataFame with a MultiIndex

In [ ]:
df = pd.DataFrame(
    { "a" : [4, 5, 6],
      "b" : [7, 8, 9],
      "c" : [10, 11, 12]},

index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
      names=['n','v'])
)

ในส่วนนี้จะมีการสร้าง DataFrame แบบ หลายๆ Index

# Method Chaining

In [ ]:
df = (pd.melt(df)
      .rename(columns = {
              'variable' : 'var',
              'value' : 'val'})
      .query('val >= 200')
      )

Method ของ pandas ส่วนมากจะส่งข้อมูล Output ออกมาเป็น DataFrame

# Reshaping Data

ข้ามไปทำ Gather columns in to row ก่อนนะ

## Change the layout of a data set

In [ ]:
df = df.sort_values('mpg') #Order rows by values of a column(low to high)

In [ ]:
df = df.sort_values('mpg',ascending=False) #Order rows by values of a column(high to low)

In [ ]:
df = df.rename(columns = {'y':'year'}) #Rename the columns of DataFrame

In [ ]:
df = df.sort_index() #Sort the index of a DataFrame

In [ ]:
df = df.reset_index() #Reset index of DataFrame to row numbers, moving index to columns

In [ ]:
df = df.drop(['Length','Height'], axis=1) #Drop columns from DataFrame

### Gather columns in to rows

In [ ]:
pd.melt(df)

### Spread rows into columns

In [ ]:
df.pivot(columns='var', values='val')

### Append rows of DataFrames

In [ ]:
pd.concat([df1, df2])

### Append columns of DataFrames

In [ ]:
pd.concat([df1,df2], axis=1)

# Subset Observations (Rows)

In [ ]:
df[df.length > 7] #Extarct rows that meet logical criteria

In [ ]:
df.drop_dlupicates() #Remove duplicate rows (only considers columns)

In [ ]:
df.head(n) #Select first n rows

In [ ]:
df.tail(n) #Select last n rows

In [ ]:
df.sample(frac=0.5) #Randomly select fraction of rows

In [ ]:
df.sample(n=10) #Randomly select n rows

In [ ]:
df.iloc[10:20] #Select rows by position

In [ ]:
df.nlargest(n, 'value') #Select and order top n entries

In [ ]:
df.nsmallest(n, 'value') #Select and order bottom n entries

# Subset Variables (Columns)

In [ ]:
df[['width','length','species']] #Select multiple columns with specific names

In [ ]:
df['width'] #Select single column with specific name

In [ ]:
df.filter(regex='regex') #Select columns ahose name matches regular expression regex

In [ ]:
df.loc[:,'x2':'x4'] #Select all columns between x2 and x4 (inclusive)

In [ ]:
df.iloc[:,[1,2,5]] #Select columns in positions 1,2 and 5 (first column us 0)

In [ ]:
df.loc[df['a'] > 10, ['a','c']] #Select rows meeting logical condition, and only the specific columns